:root {
  --fg: white;
  --bg: black;
}

html, body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: var(--fg);
  background-color: var(--bg);
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: start;
  align-items: stretch;
}

body > * {
  margin: 0px;
}

.hidden {
  display: none !important;
}

.unknown::before {
  content: "\3010\2026\3011";
  cursor: context-menu;
}

.unknown {
  content: "";
}

h1 {
  font-size: 1.5em;
}

input[type="text"] {
  padding: 5px;
  border-radius: 0px;
  border: 2px solid var(--fg);
  color: var(--fg);
  background-color: var(--bg);
  caret-color: var(--fg);
}

p#output {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

p#output.polling::before {
  content: "(Right-click a node\2026)";
}

p#output.polling > * {
  display: none;
}

div#content {
  flex-grow: 0;
  border: 2px dotted var(--fg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}

div#content > div.node-container {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;
}

div.node {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  justify-content: start;
  align-items: center;
}

div.node > p.node-content {
  margin: 0px;
  padding: 25px;
  border: 2px solid var(--fg);
  cursor: context-menu;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.node > div.node-container {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

div.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  background-color: var(--bg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.form-box {
  border: 4px solid var(--fg);
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}

button.popup-ok {
  padding: 5px;
  font-size: 0.9em;
  color: var(--bg);
  background-color: var(--fg);
  text-align: center;
  border: 2px solid var(--fg);
}

button.popup-ok:active {
  color: var(--fg);
  background-color: var(--bg);
}
